<div id="<%= dom_id userorderdescription %>">
  <p>
    <strong>UserOrder:</strong>
    <%= userorderdescription.userorder_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= userorderdescription.item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= userorderdescription.quantity %>
  </p>

</div>
