<h1>Editing userorderdescription</h1>

<%= render "form", userorderdescription: @userorderdescription %>

<br>

<div>
  <%= link_to "Show this userorderdescription", @userorderdescription %> |
  <%= link_to "Back to userorderdescriptions", userorderdescriptions_path %>
</div>
