<p style="color: green"><%= notice %></p>
 <div class="col-4 offset-4">
<%= render @userorderdescription %>

<div>

  <%= link_to "Back to userorderdescriptions", userorderdescriptions_path %>

  <%= button_to "Destroy this userorderdescription", @userorderdescription, method: :delete %>
</div>
</div>
