<h1>Editing userorder</h1>

<%= render "form", userorder: @userorder %>

<br>

<div>
  <%= link_to "Show this userorder", @userorder %> |
  <%= link_to "Back to userorders", userorders_path %>
</div>
