<footer class="text-body-secondary py-5">

  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
  </div>

  <div class="col-4 offset-4">
    <p class="mb-1">Ruby internet shop <%= Date.today.year %>. Have a nice day!</p>
    </div>
</footer>
